## a. Answer the specified questions with data summarization and effective visuals. 
## b. Write down your insights into the notebook as comments.  
1. How many cereals(unique brands) are there in the dataset? 

2. How many cereals are listed per manufacturer of the cereal? 

3. How many hot vs cold cereals? 

4. Which is the best and worst cereal? 

5. Compare the rating for hot vs cold cereals. Which do people prefer?

6. Which cereals have the highest fiber and lowest sugar? 

7. Which Cereals that have more than 3 grams of protein? 

8. Tabulate and visualize Cereals by display Shelf. 

9. How does the sugar content vary across different brands? 

10. What is the average calories in cereals per manufacturer? 

11. What is the average nutritional content (calories, sugars, protein, fiber, etc.) across all 
cereals? 

12. What is the relationship between sugar and calories? 

13. How does the sugar content compare in cereals with high vs. low ratings? 

14. Do cereals marketed as "healthy" (e.g., high fiber, low sugar) tend to have higher ratings? 

15. Is there a relationship between rating and display shelf?

In [112]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [89]:
data = pd.read_csv("Cereals.csv")

In [90]:
data

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100NaturalBran,Q,C,120,3,5,15,2.0,8,8,135,0,3,1.0,1.00,33.983679
1,All-Bran,K,C,70,4,1,260,9.0,7,5,320,25,3,1.0,0.33,59.425505
2,All-BranwithExtraFiber,K,C,50,4,0,140,14.0,8,0,330,25,3,1.0,0.50,93.704912
3,AlmondDelight,R,C,110,2,2,200,1.0,14,8,?,25,3,1.0,0.75,34.384843
4,AppleCinnamonCheerios,G,C,110,2,2,180,1.5,10.5,10,70,25,1,1.0,0.75,29.509541
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,Triples,G,C,110,2,1,250,0.0,21,3,60,25,3,1.0,0.75,39.106174
72,Trix,G,C,110,1,1,140,0.0,13,12,25,25,2,1.0,1.00,27.753301
73,WheatChex,R,C,100,3,1,230,3.0,17,3,115,25,1,1.0,0.67,49.787445
74,Wheaties,G,C,100,3,1,200,3.0,17,3,110,25,1,1.0,1.00,51.592193
75,WheatiesHoneyGold,G,C,110,2,1,200,1.0,16,8,60,25,1,1.0,0.75,36.187559

In [91]:
# How many cereals(unique brands) are there in the dataset?
len(data["name"].unique())

76

In [92]:
#How many cereals are listed per manufacturer of the cereal?
data["mfr"].value_counts()

K    23
G    22
P     9
Q     8
R     8
N     5
A     1
Name: mfr, dtype: int64

In [93]:
#How many hot vs cold cereals?
data["type"].value_counts()

C    73
H     3
Name: type, dtype: int64

In [94]:
#Which is the best and worst cereal?
print("The worst cereal is :" )
data[data["rating"] == data["rating"].min()]

The worst cereal is :

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
9,CapnCrunch,Q,C,120,1,2,220,0.0,12,12,35,25,2,1.0,0.75,18.042851

In [95]:
print("\nThe best cereal is :" )
data[data["rating"] == data["rating"].max()]

The best cereal is :

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
2,All-BranwithExtraFiber,K,C,50,4,0,140,14.0,8,0,330,25,3,1.0,0.5,93.704912

In [96]:
#Compare the rating for hot vs cold cereals. Which do people prefer?\
index = data["type"]== "C"
print("Mean rating of cold serials")
print(np.mean(data[index]["rating"]))
print("\nMean rating of hot serials")
index = data["type"]== "H"
print(np.mean(np.mean(data[index]["rating"])))

Mean rating of cold serials
41.734838164383554

Mean rating of hot serials
56.73770833333334

In [124]:
#Which cereals have the highest fiber and lowest sugar?
data.loc[(data["fiber"] == data["fiber"].max()) & (data["sugars"] == data["sugars"].min())]

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
2,All-BranwithExtraFiber,K,C,50,4,0,140,14.0,8,0,330,25,3,1.0,0.5,93.704912

In [125]:
#Which Cereals that have more than 3 grams of protein?
data[data["protein"] > 3]

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
1,All-Bran,K,C,70,4,1,260,9.0,7,5,320,25,3,1.0,0.33,59.425505
2,All-BranwithExtraFiber,K,C,50,4,0,140,14.0,8,0,330,25,3,1.0,0.50,93.704912
10,Cheerios,G,C,110,6,2,290,2.0,17,1,105,25,1,1.0,1.25,50.764999
40,Life,Q,C,100,4,2,150,2.0,12,6,95,25,2,1.0,0.67,45.328074
42,Maypo,A,H,100,4,1,0,0.0,16,3,95,25,2,1.0,1.00,54.850917
43,MuesliRaisinsDatesAlmonds,R,C,150,4,3,95,3.0,16,11,170,25,3,1.0,1.00,37.136863
44,MuesliRaisinsPeachesPecans,R,C,150,4,3,150,3.0,16,11,170,25,3,1.0,1.00,34.139765
55,QuakerOatSquares,Q,C,100,4,1,135,2.0,14,6,110,25,3,1.0,0.50,49.511874
56,QuakerOatmeal,Q,H,100,5,2,0,2.7,?,?,110,0,1,1.0,0.67,50.828392
66,SpecialK,K,C,110,6,0,230,1.0,16,3,55,25,1,1.0,1.00,53.131324

In [ ]:
#Tabulate and visualize Cereals by display Shelf.

In [122]:
#How does the sugar content vary across different brands?
data["sugars"]

pandas.core.series.Series