## Week 1 Demo
### Chirag Rao K V

PC 66

reg 240962180

In [50]:
# adding numbers

var_A=15
var_B=6
var_C=var_A + var_B
print('Var C=',var_C)

Var C= 21

In [51]:

print(var_A/var_B)
print(var_A//var_B)

2.5
2

In [52]:
var_fA=0.345
var_fB=6.8e-4
print(var_fA+var_fB)

0.34568

In [53]:
var_strA='python strings'
var_strB=""" string across multiple lines
this in second line
"""
print(var_strB)
var_strB.count("\n")

 string across multiple lines
this in second line

2

In [54]:
var_strC=var_strA.replace("python","Java")
var_strC

'Java strings'

In [55]:
var_boolA=True
var_boolB=False
var_boolA?

Type:        bool
String form: True
Docstring:
Returns True when the argument is true, False otherwise.
The builtins True and False are the only two instances of the class bool.
The class bool is a subclass of the class int, and cannot be subclassed.

In [56]:
# type() to find data type
var_Int=1
var_BoolC=bool(var_Int)
var_BoolC
print(type(var_Int))
print(type(var_BoolC))

<class 'int'>
<class 'bool'>

In [57]:
def fn_add_maybe_multiply(var_a, var_b, var_c=None):
    result = var_a + var_b
    if var_c is not None:
        result = result * var_c
    return result

In [58]:
fn_add_maybe_multiply(5,6,None)

11

In [59]:
var_x = -5
if var_x < 0:
    print("It's negative")

It's negative

In [60]:
# using if else
var_x=4
if var_x < 0:
    print("It's negative")
elif var_x == 0:
    print("Equal to zero")
elif 0 < var_x < 5:
    print("Positive but smaller than 5")
else:
    print("Positive and larger than or equal to 5")

Positive but smaller than 5

In [61]:
var_seqA = [1, 2, None, 4, None, 5]
var_tot = 0
for value in var_seqA:
    if value is None:
        continue
    var_tot += value
var_tot

12

In [62]:
var_seqB = [1, 2, 0, 4, 6, 5, 2, 1]
var_tot_until_5 = 0
for value in var_seqB:
    if value == 5:
        break
    var_tot_until_5 += value
var_tot_until_5

13

In [63]:
var_x = 256
var_total = 0
while var_x > 0:
    if var_total > 500:
        break
    var_total += var_x
    var_x = var_x // 2
var_total

504

In [64]:
#range function
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [65]:
var_seq = [1, 2, 3, 4]
for i in range(len(var_seq)):
    print(var_seq[i])

1
2
3
4