# Data Visualization
touple 

list

In [117]:
tup = (1,2,3)
tup

(1, 2, 3)

In [118]:
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

### nested tuple

In [119]:
#accessing tuple elements using  index
nested_tup = (1,2,3),[4,5,6]
print(nested_tup[0])
print(nested_tup[1])

(1, 2, 3)
[4, 5, 6]

### Append or conccatenate

In [120]:
nested_tup[1].append((1,2,3))
nested_tup + tup

((1, 2, 3), [4, 5, 6, (1, 2, 3)], 's', 't', 'r', 'i', 'n', 'g')

In [121]:
('asd','sds','frf') *3

('asd', 'sds', 'frf', 'asd', 'sds', 'frf', 'asd', 'sds', 'frf')

In [122]:
#assignment using tuple
tup3 = 3,4,(6,7)
a,b,(c,d) = tup3 
print(a,b,c,d)

3 4 6 7

In [123]:
#swapping two numbers
a,b = 1,3
print(a,b)
a,b = b,a
print(a,b)

1 3
3 1

In [124]:
seq = [(1,2,3),(4,5,6),(7,4,3)]
for a,b,c in seq:
    print(f"a = {a},b = {b} c = {c}")

a = 1,b = 2 c = 3
a = 4,b = 5 c = 6
a = 7,b = 4 c = 3

In [125]:
val = 1,2,3,4,5
a,*rest,b = val
print(a,rest,b)
a,*_,b = val
print(a,_,b)

1 [2, 3, 4] 5
1 [2, 3, 4] 5

### tuple methods

In [126]:
#count occurance
a = (1,2,2,2,2,2,2,3,4,5)
a.count(2)

6

In [127]:
#converting tuple into list to append elements
tup = (1,3,4)
a = list(tup)
a.append(5)
a

[1, 3, 4, 5]

In [128]:
#inserting elements
a.insert(1,"red")
a

[1, 'red', 3, 4, 5]

In [129]:
#remove element using index and remove keyword
a.pop(2)
print(a)
a.remove("red")
print(a)

[1, 'red', 4, 5]
[1, 4, 5]

In [130]:
# use of in keyword
"red" in a

False

In [131]:
#adding multiple elements
a.extend([1,2,"hahaha"])
a

[1, 4, 5, 1, 2, 'hahaha']

In [132]:
a.remove("hahaha")
a.sort()
a

[1, 1, 2, 4, 5]

In [137]:
#sort function using length. default - ascii
str = ["chi","raooo","raga"]
str.sort(key=len)
print(str)
str.sort(key=len,reverse=True)
print(str)

['chi', 'raga', 'raooo']
['raooo', 'raga', 'chi']

In [139]:
lis = [1,2,3,4,5,6,7,8,9]
print(lis[2:7])
lis[2:7] = [1,1,1,1,1]
print(lis)

[3, 4, 5, 6, 7]
[1, 2, 1, 1, 1, 1, 1, 8, 9]

In [144]:
#from right end
print(lis[-2:])
print(lis[-7:-1])

[8, 9]
[1, 1, 1, 1, 1, 8]