## Demo week 2
### Chirag Rao K V

PC 66

reg 240962180

In [1]:
tup = (1,2,3)
tup

(1, 2, 3)

In [2]:
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [3]:
#accessing tuple elements using  index
nested_tup = (1,2,3),[4,5,6]
print(nested_tup[0])
print(nested_tup[1])

(1, 2, 3)
[4, 5, 6]

In [4]:
nested_tup[1].append((1,2,3))
nested_tup + tup

((1, 2, 3), [4, 5, 6, (1, 2, 3)], 's', 't', 'r', 'i', 'n', 'g')

In [5]:
('asd','sds','frf') *3

('asd', 'sds', 'frf', 'asd', 'sds', 'frf', 'asd', 'sds', 'frf')

In [6]:
#assignment using tuple
tup3 = 3,4,(6,7)
a,b,(c,d) = tup3 
print(a,b,c,d)

3 4 6 7

In [7]:
#swapping two numbers
a,b = 1,3
print(a,b)
a,b = b,a
print(a,b)

1 3
3 1

In [8]:
seq = [(1,2,3),(4,5,6),(7,4,3)]
for a,b,c in seq:
    print(f"a = {a},b = {b} c = {c}")

a = 1,b = 2 c = 3
a = 4,b = 5 c = 6
a = 7,b = 4 c = 3

In [9]:
val = 1,2,3,4,5
a,*rest,b = val
print(a,rest,b)
a,*_,b = val
print(a,_,b)

1 [2, 3, 4] 5
1 [2, 3, 4] 5

In [10]:
#count occurance
a = (1,2,2,2,2,2,2,3,4,5)
a.count(2)

6

In [11]:
#converting tuple into list to append elements
tup = (1,3,4)
a = list(tup)
a.append(5)
a

[1, 3, 4, 5]

In [12]:
#inserting elements
a.insert(1,"red")
a

[1, 'red', 3, 4, 5]

In [13]:
#remove element using index and remove keyword
a.pop(2)
print(a)
a.remove("red")
print(a)

[1, 'red', 4, 5]
[1, 4, 5]

In [14]:
# use of in keyword
"red" in a

False

In [15]:
#adding multiple elements
a.extend([1,2,"hahaha"])
a

[1, 4, 5, 1, 2, 'hahaha']

In [16]:
a.remove("hahaha")
a.sort()
a

[1, 1, 2, 4, 5]

In [17]:
#sort function using length. default - ascii
str = ["chi","raooo","raga"]
str.sort(key=len)
print(str)
str.sort(key=len,reverse=True)
print(str)

['chi', 'raga', 'raooo']
['raooo', 'raga', 'chi']

In [18]:
lis = [1,2,3,4,5,6,7,8,9]
print(lis[2:7])
lis[2:7] = [1,1,1,1,1]
print(lis)

[3, 4, 5, 6, 7]
[1, 2, 1, 1, 1, 1, 1, 8, 9]

In [19]:
#from right end
print(lis[-2:])
print(lis[-7:-1])

[8, 9]
[1, 1, 1, 1, 1, 8]

In [20]:
#creating a dictonary
d1 = {"a": "Some value", "b":[1,2,3,4]}
d1

{'a': 'Some value', 'b': [1, 2, 3, 4]}

In [21]:
#inserting elements to dict and replacing 

d1[7] = "this is a new elenent"
d1["b"] = "replaced b"
d1

{'a': 'Some value', 'b': 'replaced b', 7: 'this is a new elenent'}

In [22]:
# Checking for elements in dict
7 in d1

True

In [23]:
# delete value using del or pop
ret = d1.pop("a")
del d1[7]
d1

{'b': 'replaced b'}

In [24]:
# using update function to merge dict
d1.update({"b":"hahahha","c":"hehehe"})
d1

{'b': 'hahahha', 'c': 'hehehe'}

In [25]:
# usig zip to merge two touples 
zip_obj = zip(range(5), reversed(range(5)))
print(type(zip_obj))
mapping = dict(zip_obj)
mapping

<class 'zip'>

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [26]:
#optimised if else block
# to find the words starting with same letter
words = ["apple", "bat", "bar", "atom", "book","cat"]
by_letter = {}
for word in words: #itirate through every word in words list
    letter  = word[0] # take the first letter of the word
    by_letter.setdefault(letter,[]).append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book'], 'c': ['cat']}

### Dict key types

In [27]:
# checking if Object can be used aS a key using hash
hash ("string")
# hash ([1,2,[4,5]]) not valid

-8764920631899052834

In [28]:
# touple can be hashed as long as indivisual elements are hashable
d = {}
print(type(tuple([1, 2, 3])))

d[tuple([1, 2, 3])] = 5 # assignment
d
# d[tuple([1, 2, [4,5]])] = 5 not hashable

<class 'tuple'>

{(1, 2, 3): 5}

In [29]:
keys = ["c","d","a","b"]

for key in keys:
     print(d1.get(key,"not present"))

hehehe
not present
not present
hahahha

In [30]:
#SET
set([2,2,2,1,3,3,1])

{1, 2, 3}

In [31]:
# set literal with curly braces
a = {2, 2, 2, 1, 3, 3,}
type(a)
b = {44,5,65,5,2}
# union of two set | or .union
print(a|b)
#intersection & or .intersection
print(a&b)
#
c = a.copy()
c |= b
print(c)
d = a.copy()
d &= b
print(d)

{1, 2, 3, 65, 5, 44}
{2}
{1, 2, 3, 65, 5, 44}
{2}